alembic==1.0.8
amqp==2.4.2
asn1crypto==0.24.0
attrs==19.1.0
bcolz==0.12.1
billiard==3.5.0.4
bokeh==0.13.0
Bottleneck==1.2.1
cachetools==2.1.0
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
click==6.7
cloudpickle==0.7.0
contextlib2==0.5.5
cryptography==2.3.1
cyordereddict==0.2.2
Cython==0.28.5
cytoolz==0.9.0.1
dask==0.19.2
decorator==4.4.0
distributed==1.23.2
Django==1.11.10
empyrical==0.5.0
futures==3.0.3
google-api-core==1.7.0
google-auth==1.6.3
google-cloud-core==0.29.1
google-cloud-storage==1.15.0
google-resumable-media==0.3.2
googleapis-common-protos==1.5.9
gunicorn==19.8.1
heapdict==1.0.0
idna==2.7
intervaltree==2.1.0
ipython-genutils==0.2.0
Jinja2==2.10
jsonschema==2.6.0
jupyter-core==4.4.0
kombu==4.4.0
locket==0.2.0
Logbook==0.12.5
lru-dict==1.1.4
lxml==4.2.5
mako==1.0.7
MarkupSafe==1.0
mkl-fft==1.0.6
mkl-random==1.0.1
msgpack==0.5.6
multipledispatch==0.6.0
nbformat==4.4.0
networkx==1.11
numexpr==2.6.8
numpy==1.14.6
packaging==17.1
pandas==0.22.0
pandas-datareader==0.6.0
partd==0.3.10
patsy==0.5.0
plotly==3.7.0
protobuf==3.6.0
psutil==5.4.7
pyasn1==0.4.4
pyasn1-modules==0.2.4
pycparser==2.19
pyOpenSSL==18.0.0
pyparsing==2.4.0
PySocks==1.6.8
python-dateutil==2.7.3
python-editor==1.0.4
pytz==2018.5
PyYAML==3.13
requests==2.19.1
requests-file==1.4.3
requests-ftp==0.3.1
retrying==1.3.3
rsa==3.4.2
scipy==1.1.0
simplejson==3.16.1
six==1.11.0
sortedcontainers==2.0.5
SQLAlchemy==1.2.11
statsmodels==0.9.0
tables==3.4.4
tblib==1.3.2
toolz==0.9.0
tornado==5.1.1
trading-calendars==1.6.1
traitlets==4.3.2
urllib3==1.23
vine==1.3.0
win-inet-pton==1.0.1
wincertstore==0.2
wrapt==1.10.11
zict==0.1.3
zipline==1.3.0
