<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Back-testing Environment</title>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="{% static "testapp/style.css" %}">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="{% static "testapp/setparam.js" %}"></script>
</head>
<body>
    <form id="backtestparams" action="">
        <input type="text" id="from" name="from" style="width:100px;" class="text ui-widget-content ui-corner-all" placeholder="start date" required readonly>
    	<label for="to">to</label>
		<input type="text" id="to" name="to" style="width:100px;" class="text ui-widget-content ui-corner-all" placeholder="end date" required readonly>
        <label for="capital">&nbsp; capital base</label>
        <input type="text" id="capital" name="capital" style="width:100px;" class="text ui-widget-content ui-corner-all" value="100000" 
        required pattern="[0-9]*[.]?[0-9]+" title="positive number with or without decimals">
        <label for="tradingpair">&nbsp; trading pair</label>
        <select id="tradingpair" name="tradingpair" class="text ui-widget-content ui-corner-all">
        {% for asset in assets %}
            <option value="{{ asset }}"> {{ asset }} </option>
        {% endfor %}
        </select>
        <input type="submit" id="submitparams" value="Run Backtest">
        <input type="text" style="display:none;" name="comm" id="comm" value="pershare">
        <input type="text" style="display:none;" name="commamount" id="commamount" value="0.1">
        <button type="button" id="settings">Settings</button>
        <br>
        <label id="infolabel" for="strategies">Select trading strategy files in .csv format:</label>
        <input type="file" id="strategies" name="strategies" accept=".csv" multiple>
    </form>

    <hr>

    <div id="dialog-form" title="Settings">
        <p class="validateTips"> </p>
        <form>
            <fieldset>
                <label>Trading costs:</label><br>
                <input type="radio" name="costmethod" id="pershare" value="pershare" checked="checked" /> Percentage of trading volume<br>
                <input type="radio" name="costmethod" id="pertrade" value="pertrade"> Fixed cost per trade
                <p>
                <input type="text" name="commission" id="commission" style="width:80px;" value="0.1" class="text ui-widget-content ui-corner-all">
                <label for="commission" id="percentmark">%</label></p>
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </fieldset>
        </form>
    </div>

</body>
</html>