<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Back-testing Environment</title>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
	<link rel="stylesheet" href="{% static 'testapp/css/style.css' %}"/>
    <link rel="icon" type="image/png" href="{% static 'testapp/favicon.png' %}"/>
	<script src="{% static 'testapp/js/jquery-1.12.4.js' %}"></script>
    <script src="{% static 'testapp/js/jquery-ui.js' %}"></script>
    <script type="text/javascript">
    // set max dates for datepickers
    var ingest_date_max_From = "{{ max_from }}";
    var ingest_date_max_To = "{{ max_to }}";
    </script>
    <script src="{% static 'testapp/js/setparam.js' %}"></script>
    <script src="{% static 'testapp/js/jquery.blockUI.js' %}"></script>
    <script type="text/javascript">
    // the loading spinner for running backtests
    $(document).on("submit", "form#backtestparams", function() {
      $.blockUI({
        message: '<img src="{% static "testapp/spinner.gif" %}" alt="" width="100px" /> <br>Backtests running,<br>please wait...'
      });
    });
    </script>
</head>
<body>
    {% if error_message %}<p><strong style="color:red;">{{ error_message }}</strong></p>{% endif %}
    <form id="backtestparams" action="{% url 'testapp:processing' %}" enctype="multipart/form-data" method="post">{% csrf_token %}
        <input type="text" id="from" name="from" style="width:100px;" class="text ui-widget-content ui-corner-all" placeholder="start date" required readonly />
    	<label for="to">to</label>
		<input type="text" id="to" name="to" style="width:100px;" class="text ui-widget-content ui-corner-all" placeholder="end date" required readonly />
        <label for="capital">&nbsp; capital base</label>
        <input type="text" id="capital" name="capital" style="width:100px;" class="text ui-widget-content ui-corner-all" value="100000" 
        required pattern="[0-9]*[.]?[0-9]+" title="positive number with or without decimals" />
        <label for="tradingpair">&nbsp; trading pair</label>
        <select id="tradingpair" name="tradingpair" class="text ui-widget-content ui-corner-all">
        {% for asset in assets %}
            <option value="{{ asset }}"> {{ asset }} </option>
        {% endfor %}
        </select>
        <input type="submit" id="submitparams" value="Run Backtest" />
        <input type="text" style="display:none;" name="comm" id="comm" value="pershare" />
        <input type="text" style="display:none;" name="commamount" id="commamount" value="0.1" />
        <button type="button" id="settings">Settings</button>
        <br>
        <label id="infolabel" for="strategies">Select trading strategy files in .csv format:</label>
        <input type="file" id="strategies" name="strategies" accept=".csv" multiple />
    </form>

    <hr>

    <div style="font-size:small">
        <p>A trading strategy file should have two fields in each row, trading timestamp and quantity(buy+/sell-), seperated by a single comma.<br>Each row represents a trading signal.</p>
        <p>For example,</p>
        <p> 2019-05-03 09:26:00, -42<br>
            2019-05-04 13:32:00, 37.50<br>
            2019-05-09 03:42:00, 102<br>
            2019-05-07 15:52:00, -146.35<br>
            ... ...</p>
        <p>The trading timestamps need not to be in order, however duplicates should be avoided.<br>In case there exists two or more rows with same timestamps in a single file, only one of them will be executed.</p>
        <p>Trading signals with timestamps out of the range of trading period set by user will not be executed. </p>
    </div>

    <div id="dialog-form" title="Settings">
        <p class="validateTips"> </p>
        <form>
            <fieldset>
                <label>Trading costs:</label><br>
                <input type="radio" name="costmethod" id="pershare" value="pershare" checked="checked" /> Percentage of trading volume<br>
                <input type="radio" name="costmethod" id="pertrade" value="pertrade" /> Fixed cost per trade
                <p>
                <input type="text" name="commission" id="commission" style="width:80px;" value="0.1" class="text ui-widget-content ui-corner-all" />
                <label for="commission" id="percentmark">%</label></p>
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px"/>
            </fieldset>
        </form>
    </div>

</body>
</html>